.landing-blurbs {
	margin: @gridSpace 0;
	
	img {
		.box-shadow(0 0 5px rgba(0,0,0,.35));
	}
	
	section > h1 {
		font-size: @fontSizeLarge;
		margin-bottom: @colSpace/2;
		a {
			color: @textColor;
		}
	}
	
	.async-image {
        width: 220px;
		height: 144px;
		margin-bottom: 1em;
	}
}

.news {
	margin-bottom: @gridSpace*2;
	section > h1 {
		font-size: 25px;
		line-height: @baseLineHeight;
		color: @dimagiOrange;
		a {
			color: @dimagiOrange;
			&:hover {
				color: @dimagiBlue;
			}
		}
	}
	section hgroup {
		position: relative;
		margin-top: .8em;
		> h2 {
            font-size: @fontSizeLarge;
			line-height: @baseLineHeight*1.25;
            font-weight: 600;
			margin: 0;
			padding-bottom: 6px;
			line-height: 18px;
			a {
				color: @textColor;
				&:hover {
					color: @dimagiOrange;
				}
			}
		}
		> date {
			color: @grayLight;
            font-weight: 500;
			font-family: @altFontFamily;
            line-height: @baseLineHeight*1.25;
		}
	} 
	section > p {
		padding-left: @gridSpace;
	}
	
}
