article {
	.alignleft {
		.pull-left();
	}
	.alignright {
		.pull-right();
	}
	
	> h2,
	section > h2 {
		margin-top: .5em;
		&:first-child {
			margin-top: 0;
		}
	}
	p.lead {
		font-size: 18px;
		margin-top: 5px;
	}
}

.blog-post {
	padding-bottom: @gridSpace;

	img {
		.box-shadow(0 1px 4px rgba(0, 0, 0, 0.20));
	}
	
	.alignleft {
		margin: @colSpace;
		margin-left: 0;
	}
	.alignright {
		margin: @colSpace;
		margin-right: 0;
	}
	
}

.desaturate-links {
	a {
		color: @textColor;
		&:hover {
			color: @dimagiOrange;
		}
	}
}

#content-wrap .content a img{
	.animation-fade(box-shadow, .4s);
	&:hover {
		.box-shadow(0 0px 10px rgba(245,130,32,.65));
	}
}

.client-list {
	text-align:center;
	img {
		padding: 2em;
	}
}

.nav-pills .nav-header {
	line-height: 30px;
}

#wpadminbar {
	z-index: 550;
}

.commentlist {
	margin-top: @gridSpace;
	margin-bottom: @gridSpace;
	
	li {
		margin-bottom: @colSpace;
	}
	.comment-meta {
		padding: @colSpace 0;
	}
}

