/**
Variables for Dimagi.com
**/

@dimagiBlue: #003d71;
@dimagiOrange: #f58220;
@dimagiGray: #413f3f;

@orange: @dimagiOrange;
@blue: @dimagiBlue;

@documentWidth: 960px;
@colSpace: 10px;
@colWidth: 60px;
@gridSpace: @colSpace*2;

@headerHeight: 55px;

@footerHeight: 460px;
@footerColor: @dimagiGray;

@headerBackgroundColor: #f0eeee;
@backgroundColor: #FAF7F5;

@navRadius: 5px;